<form novalidate [formGroup]="login" (ngSubmit)="submit()">
  <div class="login-container">
    <mat-form-field>
      <input formControlName="email" matInput placeholder="Email" />
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="password"
        matInput
        placeholder="Password"
        type="password"
      />
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary">Submit</button>
</form>
<button mat-raised-button color="accent">Via Auth0</button>
