nav {
  ul {
    display: flex;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #f0582a, #eb0685);
    li {
      padding: 1em 0 1em 0;
      a {
        padding: 1em;
        text-decoration: none;
        color: white;
      }
    }
  }
}

nav li a:hover {
  background-color: #d9390d;
}
