<mat-card>
  <h2 mat-line>About page</h2>
  <p>Router param passed to page is: {{ id }}</p>
  <h2 md-line>Source code on Github</h2>
  <p>
    This app is built throughout a series of screencasts, source code can be
    found at
    <a href="https://github.com/sabir-jamia/angular-auth0" target="_blank">
      https://github.com/sabir-jamia/angular-auth0
    </a>
  </p>
  <h2 mat-line>Twitter</h2>
  <p>
    And make sure to follow me on twitter to stay tuned
    <a href="https://twitter.com/sabirjamia" target="_blank">
      https://twitter.com/sabirjamia
    </a>
  </p>
</mat-card>
