<mat-toolbar color="primary">
  <mat-toolbar-row *ngIf="isAuthenticated">
    <button mat-button (click)="toggleSideNav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="app-spacer"></span>
    <mat-icon class="auth-icon" *ngIf="isAuthenticated" (click)="logout()">
      power_settings_new
    </mat-icon>
    <mat-icon class="auth-icon" *ngIf="!isAuthenticated" (click)="login()">
      exit_to_app
    </mat-icon>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="!isAuthenticated">
    <span class="app-spacer"></span>
    <button mat-button [routerLink]="['auth', 'login']">
      <span>Register/Login</span>
    </button>
    <button mat-button [routerLink]="['about', 'Hello World']">
      <span>About</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
