.side-nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.side-nav {
  min-width: 20%;
  border: 0;
}

.wrapper {
  margin: 20px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
